/* Update Expense Modal Styles */

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-footer-left {
  flex: 1;
}

.modal-footer-right {
  display: flex;
  gap: 8px;
}
