.sidebar-menu {
  .sidebar-list.active {
    .sidebar-link {
      background-color: rgba(#57375d, 0.2) !important;
    }
  }
}
.default-dashboard {
  .total-invest {
    .invest-content {
      .btn {
        box-shadow: 0px 0px 15px 0px rgba(#57375d, 0.4);
      }
    }
  }
}
.bg-light-primary {
  background-color: rgba(#57375d, 0.1) !important;
}
.bg-light-secondary {
  background-color: rgba(#ff9b82, 0.1) !important;
  .stroke-icon {
    stroke: #ff9b82 !important;
  }
}
.border-light-primary {
  border-color: rgba(#57375d, 0.3) !important;
}
.border-light-secondary {
  border-color: rgba(#ff9b82, 0.3) !important;
}
.comman-round {
  background-color: rgba(#57375d, 0.1) !important;
  border: 2px solid rgba(#57375d, 0.3) !important;
}
.back-bar-container {
  .apexcharts-series {
    path {
      fill: rgba(#57375d, 0.1) !important;
    }
  }
}
.value-chart {
  .valuechart-detail {
    .badge.badge-primary {
      box-shadow: 0px 0px 15px 0px rgba(#57375d, 0.4) !important;
    }
    .badge.badge-secondary {
      box-shadow: 0px 0px 15px 0px rgba(#ff9b82, 0.4) !important;
    }
  }
}
.items-slider {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        .slider-box {
          .header-top {
            .badge.badge-primary {
              box-shadow: 0px 0px 15px 0px rgba(#57375d, 0.4);
            }
          }
        }
      }
    }
  }
}
.timeline-card {
  .activity-timeline {
    .d-flex {
      .flex-grow-1 {
        .img-wrapper {
          li {
            background-color: rgba(#57375d, 0.1);
          }
        }
      }
      .circle-dot-primary {
        background-color: rgba(#57375d, 0.25) !important;
      }
      .circle-dot-secondary {
        background-color: rgba(#ff9b82, 0.25) !important;
      }
    }
  }
}
.graphic-design {
  .header-top {
    .d-flex {
      .flex-shrink-0 {
        background-color: rgba(#57375d, 0.1) !important;
        border: 2px solid rgba(#57375d, 0.3) !important;
      }
    }
  }
}
.radial-card {
  .radial-content {
    .progress-animate {
      background-color: rgba(#57375d, 0.1) !important;
    }
  }
}
.upcoming-class {
  ul {
    .circle-dot-primary {
      background-color: rgba(#57375d, 0.25) !important;
    }
    .circle-dot-secondary {
      background-color: rgba(#ff9b82, 0.25) !important;
    }
  }
}
.default-datepicker {
  .datepicker {
    .datepicker--nav {
      .datepicker--nav-title {
        background-color: rgba(#57375d, 0.1) !important;
      }
    }
    .datepicker--cell.-current- {
      box-shadow: 0px 4px 27px 0px rgba(#57375d, 0.38) !important;
    }
  }
}
.dropzone {
  background-color: rgba(#57375d, 0.1) !important;
}
.btn.btn-outline-primary {
  &:hover {
    background-color: rgba(#57375d, 0.9) !important;
  }
}
.btn.btn-outline-secondary {
  &:hover {
    background-color: rgba(#ff9b82, 0.9) !important;
  }
}
.file-content {
  li {
    .files-list {
      .file-left {
        background-color: rgba(#57375d, 0.08);
      }
    }
  }
}
.quick-file {
  li {
    .quick-box {
      background-color: rgba(#57375d, 0.08) !important;
    }
  }
}
.kanban-board-header.bg-primary {
  ~ {
    .kanban-drag {
      background-color: rgba(#57375d, 0.3) !important;
    }
  }
}
.kanban-board-header.bg-secondary {
  ~ {
    .kanban-drag {
      background-color: rgba(#ff9b82, 0.3) !important;
    }
  }
}
.sidebar-menu {
  .sidebar-list {
    .sidebar-link.active {
      background-color: rgba(#57375d, 0.2) !important;
    }
  }
}
.sidebar-left-wrapper {
  .sidebar-left-icons {
    .nav-item {
      &:hover {
        .nav-rounded {
          .product-icons {
            background-color: rgba(#57375d, 0.2) !important;
          }
        }
      }
    }
  }
}
.product-wrapper {
  .product-grid {
    .feature-products {
      .products-total {
        .square-product-setting {
          .icon-grid {
            background-color: rgba(#57375d, 0.1) !important;
          }
        }
      }
      .select2-drpdwn-product {
        .form-control {
          background-color: rgba(#57375d, 0.1) !important;
          border-color: rgba(#57375d, 0.1) !important;
        }
      }
    }
    .product-wrapper-grid {
      .product-box {
        .modal {
          .modal-header {
            .product-box {
              .product-details {
                .product-size {
                  ul {
                    li {
                      .btn {
                        background-color: rgba(#57375d, 0.1) !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.product-social {
  li {
    a {
      &:hover {
        background-color: rgba(#57375d, 0.1) !important;
      }
    }
  }
}
.badge-light-primary {
  background-color: rgba(#57375d, 0.2) !important;
}
.badge-light-secondary {
  background-color: rgba(#ff9b82, 0.2) !important;
}
.list-product-header {
  .light-box {
    background-color: rgba(#57375d, 0.2) !important;
  }
}
.email-main-wrapper {
  .email-app-sidebar {
    .nav-pills {
      .nav-link.active {
        background-color: rgba(#57375d, 0.1) !important;
      }
    }
    span {
      background-color: rgba(#57375d, 0.2);
    }
  }
}
.left-sidebar-wrapper {
  * {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(#57375d, 0.3) !important;
    }
  }
}
.bookmark-wrap {
  .left-bookmark {
    .main-menu {
      .nav-item {
        .button-primary {
          background-color: rgba(#57375d, 0.2) !important;
        }
      }
    }
  }
}
.contacts-tabs {
  .nav-pills {
    .nav-link.active {
      background-color: rgba(#57375d, 0.05) !important;
    }
  }
}
.fc {
  .fc-button-primary {
    &:not(:disabled) {
      background-color: #57375d;
      border-color: #57375d;
      &.fc-button-active {
        background-color: #57375d;
        border-color: #57375d;
      }
    }
  }
}
.fc-daygrid-event-dot {
  border-color: #57375d !important;
}
.search-list {
  .nav-item {
    .nav-link.active {
      background-color: rgba(#57375d, 0.1) !important;
    }
  }
}
.search-list {
  .nav-item {
    background-color: rgba(#57375d, 0.1) !important;
  }
}
.alert-light-primary {
  background-color: rgba(#57375d, 0.2) !important;
  color: #57375d;
}
.alert-light-secondary {
  background-color: rgba(#ff9b82, 0.2) !important;
  color: #ff9b82;
}
.accordion-button.accordion-light-primary {
  &:not(.collapsed) {
    background-color: rgba(#57375d, 0.2) !important;
  }
}
.accordion-button.accordion-light-primary.active {
  background-color: rgba(#57375d, 0.2) !important;
}
.list-light-primary {
  background-color: rgba(#57375d, 0.2) !important;
}
.list-light-secondary {
  background-color: rgba(#ff9b82, 0.2) !important;
}
.list-hover-primary {
  &.active {
    background-color: rgba(#57375d, 0.2) !important;
  }
  &:hover {
    background-color: rgba(#57375d, 0.2) !important;
  }
}
.timeline-dot-primary {
  outline: 5px solid rgba(#57375d, 0.25) !important;
}
.timeline-dot-secondary {
  outline: 5px solid rgba(#ff9b82, 0.25) !important;
}
.square-timeline {
  .timeline-event {
    .timeline-event-wrapper {
      .timeline-thumbnail {
        background-color: rgba(#57375d, 0.25) !important;
        box-shadow: inset 0 0 0 0em rgba(#57375d, 0.25) !important;
      }
    }
  }
}
.square-timeline {
  .timeline-event {
    .timeline-event-icon {
      outline: 6px solid rgba(#57375d, 0.25);
    }
  }
}
.activity-dot-primary {
  outline: 5px solid rgba(#57375d, 0.25);
}
.activity-dot-secondary {
  outline: 5px solid rgba(#ff9b82, 0.25);
}
.main-upgrade {
  .variation-box {
    .selection-box {
      input[type='checkbox'] {
        &:checked {
          ~ {
            div {
              background-color: rgba(#57375d, 0.5);
            }
          }
        }
      }
    }
  }
}
.vertical-main-wizard {
  .nav-link {
    .vertical-wizard {
      .stroke-icon-wizard {
        background-color: rgba(#57375d, 0.3);
      }
    }
  }
}
.horizontal-wizard-wrapper.vertical-variations {
  .main-horizontal-header {
    .horizontal-options {
      .nav-link {
        .horizontal-wizard {
          .stroke-icon-wizard {
            background-color: rgba(#57375d, 0.2);
          }
        }
      }
    }
  }
}
.table-striped {
  .alert-light-primary {
    background-color: rgba(#57375d, 0.3) !important;
  }
}
pre {
  background-color: rgba(#57375d, 0.1);
}
.starter-main .alert-primary {
  background-color: rgba(#57375d, 0.8);
}
header {
  &.circle-dot-primary {
    background-color: rgba(#57375d, 0.1);
  }
  &.circle-dot-secondary {
    background-color: rgba(#ff9b82, 0.1);
  }
  .btn-activity-primary {
    background-color: rgba(#57375d, 0.1);
    border: 1px solid rgba(#57375d, 0.1);
  }
  .btn-activity-secondary {
    background-color: rgba(#ff9b82, 0.1);
    border: 1px solid rgba(#ff9b82, 0.1);
  }
  .header-right {
    .button-group {
      .btn-primary {
        color: var(--white);
      }
    }
  }
}
